<!DOCTYPE html>
<html>
  <head>
    <title>Graphite Docs</title>
    <%- include ('./partials/head.ejs') %>
  </head>
  <body>
    <%- include ('./partials/nav.ejs') %> <%- include ('./partials/sidebar.ejs')
    %>
    <div class="h-full ml-80 mt-16" id="content">
      <div class="container">
        <!-- Content starts -->

        <!-- Content ends -->
      </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
