<!-- Navigation starts -->
<nav
	class="fixed left-0 right-0 top-0 z-50 border-b border-zinc-200 bg-white dark:border-zinc-800 dark:bg-black"
>
	<div class="container flex h-16 place-items-center gap-2 sm:gap-4">
		<div class="flex flex-1 place-items-center leading-4">
			<a
				href="/"
				class="flex place-items-center gap-2 truncate text-ellipsis text-lg font-bold text-black hover:no-underline sm:text-2xl dark:text-white"
			>
				<!-- Logo icon here -->
				<img src="/favicon.svg" alt="Graphite Docs" class="size-7" />
				<!-- Logo text here -->
				<span>Graphite Docs</span>
			</a>
		</div>
		<div class="flex place-items-center gap-2 sm:gap-6">
			<!-- theme toggler -->
			<div class="darkmode-toggle scale-75 md:scale-90" onClick="toggleTheme()">
				<button></button>
			</div>
		</div>
	</div>
</nav>
<!-- Navigation ends -->
