<!-- Navigation starts -->
<nav
	class="fixed top-0 left-0 right-0 backdrop-blur-sm bg-white/90 dark:bg-black/90 border-b border-gray-200 dark:border-gray-800"
>
	<div class="px-2 sm:px-6 flex gap-2 sm:gap-4 place-items-center h-16">
		<button
			onClick="toggleSidebar()"
			id="sidebar-toggle"
			class="hover:bg-black/10 dark:hover:bg-gray-800 size-10 flex place-items-center justify-center rounded-md"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				height="24"
				viewBox="0 -960 960 960"
				width="24"
				class="fill-black dark:fill-white"
			>
				<path
					d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
				/>
			</svg>
		</button>
		<div class="flex-1 leading-4">
			<a
				href="/"
				class="text-lg sm:text-2xl hover:no-underline font-serif text-black dark:text-white font-bold inline-block truncate text-ellipsis"
			>
				Graphite Docs
			</a>
		</div>
		<div class="flex gap-2 sm:gap-6 place-items-center">
			<!-- Link to wherever you have repository holding md files -->
			<a
				href="https://github.com/gauravjot/graphite-md-server"
				class="px-4 py-2 rounded-md bg-gray-100 hover:bg-gray-200 dark:bg-gray-800/50 dark:hover:bg-gray-800 font-medium text-sm text-black dark:text-white hover:no-underline block"
				>Edit</a
			>
			<div class="darkmode-toggle" onClick="toggleTheme()">
				<button></button>
			</div>
		</div>
	</div>
</nav>
<!-- Navigation ends -->
