<!-- Sidebar starts -->
<div
	id="sidebar"
	aria-hidden="false"
	class="fixed flex flex-col max-h-[calc(100svh-4rem)] z-50 overflow-hidden bg-zinc-50 dark:bg-zinc-950 bg-opacity-90 top-16 mt-px bottom-0"
>
	<div class="flex-1 py-8 relative h-[calc(100%-2.27rem)] overflow-y-auto">
		<!-- Sidebar menu starts -->
		<div class="font-medium text-sm text-zinc-500">LINKS</div>
		<ul id="sidebar-nav-list" class="pb-4 my-4">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a
					href="https://github.com/gauravjot/graphite-md-server"
					target="_blank"
					rel="noopener noreferrer"
					>GitHub Repository</a
				>
			</li>
		</ul>

		<div class="font-medium text-sm text-zinc-500">DOCS</div>
		<!-- Doc list for navigation -->
		<ul id="sidebar-doc-list" class="pb-16 my-4">
			<%- docs %>
		</ul>

		<!-- Sidebar menu ends -->
	</div>
	<!-- Sidebar footer starts -->
	<div
		class="flex text-xs text-zinc-500 dark:text-zinc-400 border-t dark:border-zinc-800"
	>
		<div class="flex flex-1 place-items-center h-14 gap-3">
			<span>v1.3.0</span>
			<div class="flex-1 flex gap-3.5">
				<a
					class="text-zinc-800 dark:text-zinc-200"
					href="https://github.com/gauravjot/graphite-md-server/releases"
					target="_blank"
					rel="noopener noreferrer"
				>
					Releases
				</a>
				<a
					class="text-zinc-800 dark:text-zinc-200"
					href="https://graphite-docs.vercel.app"
					target="_blank"
					rel="noopener noreferrer"
				>
					Docs
				</a>
			</div>
		</div>
		<!-- Sidebar toggle button (appears when sidebar open) -->
		<div id="sidebar-toggle">
			<button
				onClick="toggleSidebar()"
				title="Toggle Sidebar"
				class="hover:bg-black/10 dark:hover:bg-zinc-800 size-10 flex place-items-center justify-center rounded-md"
			>
				<span class="ic-sidebar"></span>
			</button>
		</div>
		<!-- Siedbar toggle button ends -->
	</div>
	<!-- Sidebar toggle button (appears when sidebar closed) -->
	<div id="sidebar-toggle-closed">
		<button
			onClick="toggleSidebar()"
			title="Toggle Sidebar"
			class="hover:bg-black/10 dark:hover:bg-zinc-800 size-10 flex place-items-center justify-center rounded-md"
		>
			<span class="ic-sidebar"></span>
		</button>
	</div>
	<!-- Siedbar toggle button ends -->
	<!-- Sidebar footer ends -->
</div>
<!-- Sidebar ends -->
