<!-- Sidebar starts -->
<div
	id="sidebar"
	aria-hidden="false"
	class="fixed overflow-hidden backdrop-blur-sm top-16 mt-px left-0 bottom-0 w-80 bg-white/90 dark:bg-black/90 border-r border-gray-200 dark:border-gray-800"
>
	<div class="px-6 py-8 relative h-[calc(100%-2.27rem)] overflow-y-auto">
		<!-- Sidebar menu starts -->

		<div class="font-medium text-sm text-gray-700 dark:text-gray-400 px-2">DOCS</div>
		<ul id="sidebar-doc-list" class="pb-16 my-4">
			<% for (doc of docs) { %>
			<li
				id="<%= doc.slice(0, -3).replaceAll(' ','_') %>"
				class="m-0 border-t border-gray-200 dark:border-gray-800/50 hover:bg-gray-100 hover:dark:bg-gray-800/50 hover:rounded hover:border-none first:border-none"
			>
				<a
					href="/<%= doc.slice(0, -3).replaceAll(' ','_') %>"
					class="hover:no-underline p-2 block"
				>
					<%= doc.slice(0, -3) %>
				</a>
			</li>
			<% } %>
		</ul>

		<!-- Sidebar menu ends -->
	</div>
	<!-- Sidebar footer starts -->
	<div
		class="fixed bottom-0 left-0 right-0 h-9 flex place-items-center border-t dark:border-gray-800 gap-3 text-sm px-6 text-gray-500 dark:text-gray-400"
	>
		<span>Version 1.0.0</span>
		<a
			class="text-gray-800 dark:text-gray-200"
			href="http://github.com/gauravjot/graphite-md-server"
			target="_blank"
			rel="noopener noreferrer"
			>Check Updates</a
		>
	</div>
	<!-- Sidebar footer ends -->
</div>
<!-- Sidebar ends -->
