<!-- Sidebar starts -->
<div
	id="sidebar"
	aria-hidden="false"
	class="fixed overflow-hidden backdrop-blur-sm bg-zinc-50/90 dark:bg-zinc-950/90 top-16 mt-px bottom-0"
>
	<div class="pr-4 md:mr-12 py-8 relative h-[calc(100%-2.27rem)] overflow-y-auto">
		<!-- Sidebar menu starts -->

		<div class="font-medium text-sm text-zinc-700 dark:text-zinc-400 px-2">DOCS</div>
		<ul id="sidebar-doc-list" class="pb-16 my-4">
			<% for (doc of docs) { %>
			<li
				id="<%= doc.slice(0, -3).replaceAll(' ','_') %>"
				class="m-0 border-t border-zinc-200 dark:border-zinc-800/50 hover:bg-zinc-100 hover:dark:bg-zinc-800/50 hover:rounded hover:border-none first:border-none"
			>
				<a
					href="/<%= doc.slice(0, -3).replaceAll(' ','_') %>"
					class="hover:no-underline p-2 block text-sm"
				>
					<%= doc.slice(0, -3) %>
				</a>
			</li>
			<% } %>
		</ul>

		<!-- Sidebar menu ends -->
	</div>
	<!-- Sidebar footer starts -->
	<div
		class="fixed bottom-0 left-0 right-0 pr-4 md:mr-12 h-14 border-t dark:border-zinc-800 flex place-items-center gap-3 text-xs px-4 text-zinc-500 dark:text-zinc-400"
	>
		<span>v1.1.0</span>
		<span class="flex-1">
			<a
				class="text-zinc-800 dark:text-zinc-200"
				href="https://github.com/gauravjot/graphite-md-server/releases"
				target="_blank"
				rel="noopener noreferrer"
				>GitHub</a
			></span
		>
	</div>
	<!-- Sidebar footer ends -->
	<!-- Toggle button -->
	<div id="sidebar-toggle" class="fixed bottom-0 right-4 md:right-16 py-2 md:p-2">
		<button
			onClick="toggleSidebar()"
			title="Toggle Sidebar"
			class="hover:bg-black/10 dark:hover:bg-zinc-800 size-10 flex place-items-center justify-center rounded-md"
		>
			<span class="ic-sidebar"></span>
		</button>
	</div>
	<!-- Toggle button ends -->
</div>
<!-- Sidebar ends -->
