@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Source+Code+Pro:ital,wght@0,400;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
	body,
	html {
		background: white !important;
	}
	* {
		color: black !important;
	}
	nav,
	#sidebar,
	#doc-pn,
	button {
		display: none !important;
	}
	#content {
		margin-left: 0 !important;
		margin-top: 0 !important;
	}
	#md-content {
		font-size: 14px !important;
	}
}

html,
:root {
	font-size: 16px;
	@apply bg-zinc-50 bg-opacity-100 text-zinc-700 dark:bg-zinc-950 dark:text-white;
}

body {
	@apply font-sans leading-[1.6];
	@apply bg-zinc-50 text-zinc-700 dark:bg-zinc-950 dark:text-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-semibold leading-[1.6] text-black focus:outline-none focus-visible:outline-none dark:text-white;
}

body,
button,
p,
ul {
	@apply m-0 p-0;
}

.container {
	@apply mx-auto w-[90%] max-w-[1600px] md:w-[92%] lg:w-[94%];
}

a {
	@apply text-primary-700 no-underline hover:underline focus:outline-none focus-visible:outline-none dark:text-primary-400;
}

hr {
	@apply my-6 border-t border-zinc-500;
}

/* Doc theming */

#md-content {
	@apply max-w-[90ch];
	@apply text-[15px] leading-6 sm:text-[16px] sm:leading-[26px];
	@apply text-zinc-900 dark:text-zinc-300;
}
#md-content h1,
#md-content h2,
#md-content h3,
#md-content h4,
#md-content h5,
#md-content h6 {
	@apply font-semibold text-black dark:text-white;
	@apply mb-3 mt-9 tracking-[-0.012em];
}
#md-content h1 {
	@apply text-4xl !leading-[1.3];
}

#md-content h2 {
	@apply text-3xl;
	@apply border-b border-zinc-300 pb-1 pt-2 dark:border-zinc-800;
}

#md-content h3 {
	@apply text-2xl;
}

#md-content h4 {
	@apply mt-8 text-xl;
}

#md-content h5 {
	@apply mt-8 text-lg;
}

#md-content h6 {
	@apply mt-7 text-base;
}
#md-content .header-anchor {
	@apply text-zinc-950 no-underline dark:text-zinc-50;
}
#md-content .header-anchor:hover span {
	@apply underline;
}
#md-content .header-anchor:after {
	content: "#";
	@apply ml-2 font-medium text-zinc-900/50 opacity-0 dark:text-zinc-50/50;
	font-size: 80%;
}
#md-content .header-anchor:hover:after {
	@apply !no-underline opacity-100;
}
#md-content p {
	@apply my-3.5;
}
#md-content p eq:before {
	content: " ";
}

#md-content li > p:first-of-type {
	@apply mt-0;
}

#md-content img {
	@apply my-5 w-full rounded shadow;
}

#md-content ul {
	@apply mt-3.5;
}

#md-content li > ul {
	@apply mt-0;
}

#md-content li {
	@apply ml-5 mt-2.5 pl-2.5;
}

#md-content ul > li {
	@apply list-disc;
}

#md-content ol > li {
	@apply list-decimal;
}

#md-content li::marker {
	@apply text-zinc-700 dark:text-zinc-300;
}
#md-content li > p {
	@apply mb-2;
}

#md-content video {
	@apply w-full;
}

#md-content table {
	@apply my-5 border-separate border-spacing-0 rounded border dark:border-zinc-800;
}
#md-content li > table {
	@apply mt-4;
}
#md-content table td {
	@apply w-max px-3 py-1.5 text-left align-top;
	@apply border-b border-l first:border-l-0 dark:border-zinc-800;
}
#md-content table th {
	@apply bg-zinc-100 dark:bg-white/5;
	@apply px-3 py-1.5 text-left;
	@apply border-b border-l first:border-l-0 dark:border-zinc-800;
}
#md-content table tr:last-child td {
	@apply border-b-0;
}

#md-content section:has(eqn) {
	@apply my-6;
}
#md-content em,
#md-content strong {
	@apply text-zinc-800/90 dark:text-zinc-300/90;
}
#md-content strong {
	@apply font-semibold;
}

/* Code */

#md-content pre {
	@apply w-full rounded bg-black/5 dark:bg-white/5;
	@apply my-5 overflow-auto;
}
#md-content li pre {
	@apply my-4;
}

#md-content pre > code {
	@apply inline-block bg-transparent !font-normal;
	@apply font-mono text-zinc-700 dark:text-zinc-100;
	@apply py-3 pl-4 pr-12;
}
:not(#md-content pre) > code {
	/* inline code */
	@apply rounded bg-black/5 dark:bg-white/10;
	@apply border border-black/10 dark:border-zinc-200/20;
	@apply inline-block px-1 py-0 font-sans text-[15px];
}
#md-content pre.good,
#md-content pre.bad {
	@apply relative border-2 pt-6;
}
#md-content pre.good {
	@apply border-green-500 bg-green-50/50 dark:border-green-800 dark:bg-green-600/5;
}
#md-content pre.bad {
	@apply border-red-500 bg-red-50/50 dark:border-red-800 dark:bg-red-600/5;
}
#md-content pre.good:after,
#md-content pre.bad:after {
	content: "";
	@apply absolute left-3.5 top-2.5 size-6;
}
#md-content pre.good:after {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' stroke-width='1.6' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' color='%2316a34a'%3E%3Cpath d='M7 12.5L10 15.5L17 8.5' stroke='%2316a34a' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' stroke='%2316a34a' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
}
#md-content pre.bad:after {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' stroke-width='1.6' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' color='%23dc2626'%3E%3Cpath d='M9.17218 14.8284L12.0006 12M14.829 9.17157L12.0006 12M12.0006 12L9.17218 9.17157M12.0006 12L14.829 14.8284' stroke='%23dc2626' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' stroke='%23dc2626' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
}
#md-content .markdown-it-code-copy {
	@apply place-items-center justify-center;
	@apply flex rounded bg-zinc-200 p-2 text-sm hover:bg-zinc-300 lg:hidden dark:bg-zinc-900 hover:dark:bg-zinc-800;
}
#md-content .markdown-it-code-copy span.copy-icon {
	background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg width="24px" height="24px" stroke-width="1.6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23000000"><path d="M19.4 20H9.6C9.26863 20 9 19.7314 9 19.4V9.6C9 9.26863 9.26863 9 9.6 9H19.4C19.7314 9 20 9.26863 20 9.6V19.4C20 19.7314 19.7314 20 19.4 20Z" stroke="%23000000" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path><path d="M15 9V4.6C15 4.26863 14.7314 4 14.4 4H4.6C4.26863 4 4 4.26863 4 4.6V14.4C4 14.7314 4.26863 15 4.6 15H9" stroke="%23000000" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
	@apply block size-5 invert-[0.3] dark:invert-[0.7];
}
#md-content div:hover > .markdown-it-code-copy {
	@apply flex;
}

#md-content blockquote {
	@apply border-l-2 border-solid border-zinc-300 pl-4 dark:border-zinc-700;
	font-style: italic;
}

/* Toggle */

.darkmode-toggle {
	background: linear-gradient(135deg, rgba(93, 199, 225, 0.7) 30%, rgba(255, 222, 30, 0.7));
	display: inline-block;
	border-radius: 50rem;
	width: 3rem;
	height: 1.75rem;
	position: relative;
	transition: all 0.3s ease;
	cursor: pointer;
}
.dark .darkmode-toggle {
	background: linear-gradient(225deg, rgba(58, 182, 213, 0.3) 30%, rgba(116, 58, 213, 0.4));
}

.darkmode-toggle button {
	background-color: #ffffff;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	position: absolute;
	padding: 0;
	border: none;
	top: 0.125rem;
	left: 0.125rem;
	transition: all 0.3s ease;
}
.dark .darkmode-toggle button {
	left: 1.35rem;
}

/* Sidebar */
#sidebar {
	transition-property: margin-left, width;
	@apply duration-300 ease-in-out;
}
#content {
	transition-property: margin-left, width;
	@apply duration-300 ease-in-out;
}
#content {
	transition-property: margin-left;
	@apply pl-1;
}
#content.sidebar-open {
	@apply lg:ml-64 xl:ml-72 2xl:ml-[22rem];
}
#sidebar #sidebar-toggle,
#sidebar-toggle-closed {
	@apply my-2 size-10 transition-all;
}
#sidebar[aria-hidden="true"] {
	@apply w-0 bg-transparent hover:bg-zinc-100 lg:w-10 dark:hover:bg-zinc-900;
}
#sidebar[aria-hidden="false"] {
	@apply w-64 max-w-full pr-4 sm:pr-5 md:pr-6 lg:w-56 lg:pr-0 xl:w-60 2xl:w-72;
	@apply border-r lg:border-r-0 dark:border-zinc-700;
}
#sidebar[aria-hidden="true"] > div {
	animation: fadeOut 0.15s linear forwards;
	@apply pointer-events-none;
}
#sidebar[aria-hidden="false"] > div {
	animation: fadeIn 0.15s linear forwards;
}
#sidebar[aria-hidden="false"] #sidebar-toggle-closed {
	@apply hidden;
}
#sidebar[aria-hidden="true"] #sidebar-toggle-closed {
	animation: none;
	@apply pointer-events-auto absolute bottom-0 right-0 block;
}
#sidebar #sidebar-toggle .ic-sidebar {
	background: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg width="24px" stroke-width="1.6" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23000000"><path d="M19 21L5 21C3.89543 21 3 20.1046 3 19L3 5C3 3.89543 3.89543 3 5 3L19 3C20.1046 3 21 3.89543 21 5L21 19C21 20.1046 20.1046 21 19 21Z" stroke="%23000000" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path><path d="M7.25 10L5.5 12L7.25 14" stroke="%23000000" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9.5 21V3" stroke="%23000000" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
	@apply size-6 scale-90 dark:invert-[0.7];
}
#sidebar #sidebar-toggle-closed .ic-sidebar {
	background: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg width="24px" stroke-width="1.6" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23000000"><path d="M19 21L5 21C3.89543 21 3 20.1046 3 19L3 5C3 3.89543 3.89543 3 5 3L19 3C20.1046 3 21 3.89543 21 5L21 19C21 20.1046 20.1046 21 19 21Z" stroke="%23000000" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9.5 21V3" stroke="%23000000" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5.5 10L7.25 12L5.5 14" stroke="%23000000" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
	@apply size-6 scale-90 dark:invert-[0.9];
}
/* below lg, toggle is fixed to bottom left */
@media (max-width: 1023px) {
	#sidebar[aria-hidden="true"] #sidebar-toggle-closed {
		@apply fixed bottom-0 left-0 my-2 size-12 rounded-r-md bg-zinc-200 shadow dark:bg-zinc-800;
	}
	#sidebar[aria-hidden="true"] #sidebar-toggle-closed button {
		@apply size-12;
	}
}
#sidebar-nav-list a,
#sidebar-doc-list .accordion__button,
#sidebar-doc-list a {
	@apply block text-[15px] font-medium hover:no-underline 2xl:text-base;
	@apply my-1.5 rounded px-2 py-1.5 text-zinc-800 hover:bg-zinc-200 dark:text-zinc-100 dark:hover:bg-zinc-800;
}
#sidebar-doc-list .accordion__button {
	@apply my-0;
}
#sidebar-doc-list a[aria-current="true"],
#sidebar-doc-list a[aria-current="true"]:hover {
	@apply rounded border-none bg-primary-300/30 px-2 font-medium text-primary-700 hover:no-underline dark:bg-primary-500/10 dark:text-primary-200;
}
#sidebar-doc-list .accordion ul {
	@apply grid border-l-4 border-zinc-300 pl-2 dark:border-zinc-700;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.15s ease-in-out;
}
#sidebar-doc-list .accordion > ul > div {
	@apply overflow-hidden;
}
#sidebar-doc-list .accordion[aria-expanded="true"] > ul {
	grid-template-rows: 1fr;
	@apply mb-2;
}
#sidebar-doc-list .accordion + .accordion {
	@apply mt-1.5;
}
#sidebar-doc-list .accordion > .accordion__button:after {
	content: "";
	@apply absolute right-2 h-5 w-5 rotate-[270deg] dark:invert-[0.7];
	background: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg width="20px" height="20px" stroke-width="1.6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23000000"><path d="M6 9L12 15L18 9" stroke="%23000000" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
	background-repeat: no-repeat;
	transition: all 0.15s ease-in-out;
}
#sidebar-doc-list .accordion[aria-expanded="true"] > .accordion__button:after {
	@apply right-2 w-6 rotate-180 scale-110;
}
#sidebar-doc-list .accordion .accordion__button {
	@apply relative flex w-full items-center justify-between pr-12;
}
#sidebar-doc-list .accordion .accordion__button span {
	@apply inline-block overflow-hidden truncate text-ellipsis;
}
#sidebar-doc-list .accordion[aria-expanded="true"] > .accordion__button {
	@apply mb-0;
}
#sidebar-doc-list .accordion[aria-expanded="true"] > .accordion__button > span {
	@apply inline-block overflow-auto whitespace-normal text-left;
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		display: block;
	}
	100% {
		opacity: 1;
	}
}

/* Table of Contents */
#toc li a {
	@apply my-1.5 block text-[15px] text-zinc-700 hover:text-primary-700 dark:text-zinc-300 dark:hover:text-primary-300;
}
#toc li a[aria-current="true"] {
	@apply text-primary-700 dark:text-primary-300;
}

/* Syntax Highlighting */
.hljs-comment {
	@apply text-zinc-500 dark:text-zinc-500;
}
.hljs-punctuation,
.hljs-tag {
	@apply text-[#165181] dark:text-[#a5d6ff];
}
.hljs-tag .hljs-attr,
.hljs-tag .hljs-name {
	@apply text-[#0d7717] dark:text-[#7ee787];
}
.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-selector-tag {
	@apply text-[#ad3229] dark:text-[#ff7b72];
}
.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
	@apply text-[#165181] dark:text-[#a5d6ff];
}
.hljs-section,
.hljs-title {
	@apply text-[#5712a0] dark:text-[#d2a8ff];
}
.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
	@apply text-slate-800 dark:text-slate-300;
}
.hljs-literal {
	@apply text-[#225d92] dark:text-[#79c0ff];
}
.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
	@apply text-[hsl(283,65%,29%)] dark:text-[hsl(283,63%,75%)];
}
.hljs-meta {
	color: #1f7199;
}
.hljs-meta .hljs-string {
	color: #38a;
}
.hljs-emphasis {
	font-style: italic;
}
.hljs-strong {
	font-weight: 700;
}
